<div class="container">
  <h1>Customers<h1>
  <div class="row" >
    <div class="col-lg-3 add_customer">
      First Name:
      <input type="text" placeholder="First Name" ng-model="firstname"/>
    </div>
    <div class="col-lg-3 add_customer">
      Last Name:
      <input type="text" placeholder="Last Name" ng-model="lastname"/>
    </div>
    <div class="col-lg-3 add_customer">
      City:
      <input type="text" placeholder="Customer City" ng-model="city"/>
    </div>
    <div class="col-lg-3 add_customer2">
      <button class="btn btn-success add_customer" ng-click="addCustomer()">Add Customer</button>
    </div>
    <!--- below customer details -->

      <div ng-repeat="customer in customers" class="col-lg-3  customer-col" style="margin:15px">
        <p class="row customer-name">
          {{customer.name}} <span class="remove" style="float:right;margin-right:5px"><a ng-click="removeCustomer($index)" style="color:white;cursor:pointer">x</a></span>
        </p>
        <p class="row customer-city">
          {{customer.city}}
        </p>
        <p class="row customer-order">
          {{customer.orders}}
        </p>
      </div>
  </div> </br>

</div>
